{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}About Bali Silver{% endblock %}

{% block page_heading %}About Bali Silver{% endblock %}
{% block content %}
<!-- template for info about website -->
<div class="container min_height">
    <div class="row">
        <div class="col">
            <p>
                Bali Silver is a dedicated online jewellery store specialising in handmade Balinese silver. 
                Since its launch in 2020, the site has seen grown into the UK's leading retailers of Harmony Bells.
            </p>
            <p>
                We are an ethical importer with providing the best possible price for the local Balinese silver jewelery makers.
            </p>
        </div>
    </div>
</div>

{% endblock %}