{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":14},"end":{"row":0,"column":15},"action":"remove","lines":["9"],"id":3}],[{"start":{"row":0,"column":14},"end":{"row":0,"column":15},"action":"insert","lines":["7"],"id":4}],[{"start":{"row":12,"column":0},"end":{"row":12,"column":14},"action":"remove","lines":["pycurl==7.19.3"],"id":5},{"start":{"row":11,"column":17},"end":{"row":12,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":60,"scrollleft":0,"selection":{"start":{"row":11,"column":17},"end":{"row":11,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1582878744491,"hash":"80dbf32e8af7067c76c3be641b9063298593b546"}