{% extends 'base.html' %}

{% block page_title %}Bali Silver Blog{% endblock %}
{% block page_heading %}Bali Blog{% endblock %}

{% block content %}


<!-- Template to show all abbreviated blogposts -->

<div class="row">
    <div class="col">
        <a href="{% url 'new_post' %}" class="btn btn-primary newPost">Add a post</a>
    </div>
</div>
    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="{{ post.author.profile.image.url }}" class="img-circle">
                </a>
                <p><span class="boldtext">Author:</span>{{ post.user }}</p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read more</a></p>
                        <p><b>Published on:</b> {{ post.published_date|date:"d F, Y" }} </p>
                        <p><b>Views:</b> {{post.views}}</p>
                        <p><b>Tag:</b> {{ post.tag }}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}