{% extends 'base.html' %}

{% block page_title %}Bali Blog{% endblock %}
{% block page_heading %}Bali Blog{% endblock %}

{% block content %}
<!-- shows template of a single full blog post -->
    <div class="row">

        <div class="col-sm-10 col-md-9">
            
            {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
            
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9 detail">
                    <p><b>Author:</b> {{ post.author }}</p>
                    <p>{{ post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-primary">Back to Blog</a>
            
                    {% if user.is_authenticated and user == post.author or user.is_superuser %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit Post</a>
                    {% endif %}
            
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}