{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Confirmation{% endblock %}

{% block page_heading %}Purchase Confirmation{% endblock %}
{% block content %}
<!-- Calls up message sent page -->
<div class="container min_height">
    <div class="row">
        <div class="col">
            <p>
                Congratulations, your purchase was successful. You will recieve a confirmation email shortly. 
            </p>
        </div>
    </div>
</div>

{% endblock %}