{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}{{ user }}'s Profile{% endblock %}
{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<!-- calls up users details -->
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#">
            {% if user.image %}    
                <img class ="img-blogpost" src="/media/{{ user.profile.image.url }}">
            {% endif %}    
        </a>
        <p>{{ user.name }}</p>
    </div>
    <div class="col-md-10 col-sm-9">
        {% if user.profile.image %}
            <img class ="img-blogpost img-circle" src="{{ user.profile.image.url }}">
        {% endif %}
        <h3>{{ user.profile.name }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p><b>Email Adress: </b>{{ user.email }}</p>
                <p><b>About Me: </b>{{ user.profile.about_me }}</p>
                <p><b>Nationality: </b>{{ user.profile.nationality }}</p>
                <p><b>Profile Created: </b>{{ user.profile.created_date|date:"d F, Y" }}</p>
            </div>
        </div>
    </div>
    <!-- option to edit the users profile -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ p_form | as_bootstrap }}{{ u_form | as_bootstrap }}
        <button class="btn btn-outline-info" type="submit">Update</button>
    </form>
</div>
<hr>

{% endblock %}