{% load staticfiles %}
{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ba2ae6a6ae.js" crossorigin="anonymous"></script>
    {% block head_js %} {% endblock head_js %}
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top justify-content-between">
        <div class="container-fluid nav-style navbar-dark bg-success">
            <div class="navbar-header">
                <!-- collapse navbar on smaller screens -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Brand heading -->
                <a class="navbar-brand bali" href="\">Bali Silver</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Search bar -->
                <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <!-- Other navigation buttons -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="{% url 'products' %}">Our Jewellery</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}">About Us</a></li>
                    <!-- navigation buttons available only when user is authorised -->
                    {% if user.is_authenticated %}
                    </li>
                    <li class="nav-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li class="nav-item"><a href="{% url 'get_posts' %}">Bali Blog</a></li>
                    <li class="nav-item"><a href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item">
                        <a href="{% url 'view_cart' %}">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                            <!-- shows count on items in cart -->
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item"><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <!-- navbar buttons shown all the time-->
                    <li class="nav-item"><a href="{% url 'registration' %}">Register</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- shows messages if needed -->
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- other templates for nav buttons shown in this container -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>{% block page_heading %}{% endblock %}</h1>
                <hr>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <!-- Fixed footer at bottom of page -->
    <footer class="fixed-bottom text">
        <div class="container">
            <div class="row footer">
                <div class="col">
                    <p class="bali text-primary">Bali Silver</p>
                    <p class='payment-icons'>
                        <a href="https://www.visa.com"><i class="fab fa-cc-visa fa-2x"></i></a>
                        <a href="https://www.mastercard.com"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                        <a href="https://www.diners.com"><i class="fab fa-cc-diners fa-2x"></i></a>
                        <a href="https://www.americanexpress.com"><i class="fab fa-cc-amex fa-2x"></i></a>
                        <a href="https://www.stripe.com"><i class="fab fa-stripe fa-3x pay-icon"></i></a>
                    </p>
                    <p class="bali text-primary">Contact us at BaliSilver@example.com</p>
                    <p class='SoMe-icons'>
                        <a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="https://www.google.com"><i class="fab fa-google-plus-g fa-2x"></i></a>
                        <a href="https://www.pinterest.com"><i class="fab fa-pinterest fa-2x"></i></a>
                        <a href="https://www.youtube.com"><i class="fab fa-youtube fa-2x"></i></a>
                    </p>
                    <p class="bali text-primary">Copywrite 2019 Andrew Phillips</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
